<div class="row">
    <div class="col-auto mb-3" *ngFor="let p of products">
        <div class="card" style="width: 15rem; height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">{{ p.name }}</h5>
              <p class="card-text">{{ p.description }}</p>
              <p class="card-text"><b>Price:</b> {{ p.price | currency:'EUR' }}</p>
              <a class="link" role="button" (click)="addToCart(p)">Add to cart</a>
            </div>
        </div>
    </div>
</div>
