<table class="table table-hover" aria-describedby="Products">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Promotion Applied</th>
            <th class="text-center" scope="col" colspan="3">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.price | currency:'EUR' }}</td>
            <td>{{ getCalculatedPrice(p) | currency:'EUR' }}</td>
            <td>
                <select class="custom-select" [(ngModel)]="p.promotion" (change)="teste(p)">
                    <option *ngFor="let promotion of p.eligiblePromotions" value="{{ promotion }}">{{ promotion }}</option>
                </select>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-success rounded-circle" (click)="addToCart(p)">+</button>
            </td>
            <td class="text-center">{{ p.quantity }}</td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-danger rounded-circle"
                    (click)="removeFromCart(p)">-</button>
            </td>
        </tr>
    </tbody>
</table>